In [1]:
a = 100

In [2]:
# Declaring and assigning Variable
age = 20
height = 6.2
name = "Asim"
is_student = True

## printing variable
print("age :",age)
print("height :",height)
print("name :",name)

age : 20
height : 6.2
name : Asim

In [ ]:
# naming Conventions
# variable name should be descriptive
# they must start with a later or an '_' and contain letter , number & underscores


# valid variable name 
\
firsr_name = "Asim"
last_name = "khan"

In [7]:
# invalid variable name 

# 1name = "asim"
# first-name = "asim"
# @name = "Asim"

In [9]:
# case sensitivity
first_name = "Asim"
First_name = "Khan"


first_name == First_name # this will return False because of case sensitivity

False

In [2]:
# understanding variable types
# python is the dynamiclly typed . type of variable is determined at runtime

age = 20
height = 6.3
name = "Asim"
is_student = True

print(type(name))

<class 'str'>

In [3]:
## Type Checking and Conversion

type(height)

float

In [5]:
age=25
print(type(age))

# Type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [7]:
age = '20'

print(type(int(age)))

<class 'int'>

In [9]:
name = 'Asim'

# it will give error b/c 'Asim' can't change into number 
int(name)

ValueError: invalid literal for int() with base 10: 'Asim'

In [10]:
height=5.11
type(height)

float

In [11]:
float(int(height))

5.0

In [12]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes

var = 2 # int
print(var,type(var))

var = "asim" # string
print(var,type(var))

var = 3.12 # float
print(var,type(var))

var = True # boolean
print(var,type(var))

2 <class 'int'>
asim <class 'str'>
3.12 <class 'float'>
True <class 'bool'>

In [16]:
# take  a input form the user

age = int(input("What is the age :"))

print(age,type(age))

20 <class 'int'>

In [14]:
# simple calculetor

num1 = int(input("Enter first nubmer  :"))
num2 = int(input("Enter second nubmer  :"))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum : ", sum)
print("Deference : ", difference)
print("Product : ", product)
print("Quotient : ", quotient)

Sum :  8
Deference :  2
Product :  15
Quotient :  1.6666666666666667